@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/addAdmin.css" />
<form asp-action="AddGroup1" asp-controller="Admin">
    <div class="form-group">
        <input type="submit" value="Добавить группу" class="btn" />
    </div>
</form>
<form asp-action="AddStudent1" asp-controller="Admin">
    <div class="form-group">
        <input type="submit" value="Добавить студента" class="btn" />
    </div>
</form>
<form asp-action="AddTeacher1" asp-controller="Admin">
    <div class="form-group">
        <input type="submit" value="Добавить преподавателя" class="btn" />
    </div>
</form>
<form asp-action="AddPredmet1" asp-controller="Admin">
    <div class="form-group">
        <input type="submit" value="Добавить дисциплину" class="btn" />
    </div>
</form>
<form asp-action="AddUPlanUnit1" asp-controller="Admin">
    <div class="form-group">
        <input type="submit" value="Добавить запись в учебный план" class="btn btn-default" />
    </div>
</form>

<form asp-action="AddExam1" asp-controller="Admin">
    <div class="form-group">
        <input type="submit" value="Добавить экзамен" class="btn btn-default" />
    </div>
</form>
