@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Добавление нового предмета</h1>
<link rel="stylesheet" href="~/css/form.css" />
<link rel="stylesheet" href="~/css/addAdmin.css" />
<form asp-action="AddPredmet2" asp-controller="Admin">
    <ul class="wrapper">
    <li class="form-row">
   <label>Название предмета</label>
   <input type="text" name="namePredmet"/>
   </li>
   <li>
   <input type="submit" value="Отправить" class="btn btn-default" />
    </li>   
</ul>
</form> 