@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Инструкция по работе с приложением</h1>
<p>В верхней части экрана размещены 3 элемента: "На главную", "Инструкция" и "Выход".</p>
<p>При нажатии на первый элемент, вы можете перейти на главную страницу, на которой расположены основные элементы управления.<br />
При нажатии на второй элемент, откроется данная страница с инструкцией по использованию приложения.<br />
При нажатии на последний элемент, вы выйдите из текущей учетной записи и перейдёте на старницу авторизации.</p>
<br />
<p><b>Основной приницп работы заключается в следующем:</b></p>
<p>На главной странице расположены управляющие элементы в виде кнопок, при нажатии на них вас перенаправит на соотвествующие страницы, на которых будет выведена необходимая информация, либо будет форма для ввода данных</p>
<p>Возможности студета:</p>
<ol>
    <li>Просмотр своих оценок</li>
    <li>Просмотр своих предметов</li>
</ol>

<p>Возможности преподавателя:</p>
<ol>
    <li>Просмотр списка студентов по группам</li>
    <li>Просмотр выставленных оценок</li>
    <li>Просмотр своих предметов</li>
    <li>Выставление и изменение оценок по своим предметам</li>
</ol>
<p>В случае необходимости добавления новых студентов и\или преподавателей, предметов, экзаменов необходиом обращаться к администратору.</p>

<p>Возможности администратора:</p>
<ol>
    <li>Просмотр списка студентов по группам</li>
    <li>Просмот списка преподавателей</li>
    <li>Просмотр истории изменения оценок</li>
    <li>Добавление студентов и групп</li>
    <li>Добавление преподавателей</li>
    <li>Добавление предметов и экзаменов</li>
</ol>
