@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Выберите оценку:</h1>

@if(@ViewBag.ID_TYPE == 4)
{
    <form asp-action="ChangeGrade2" asp-controller="Teacher">
        <div>
   <p>
       <select name="mark">
        <option value="зачёт">Зачёт</option>
        <option value="незачёт">Незачёт</option>
    </select>
    </p>
    <input type="hidden" value="@ViewBag.ID_STUDENT" name="id_student" />
    <input type="hidden" value="@ViewBag.ID_EXAM" name="id_exam" />
    <p>
        <input type="submit" value="Отправить" class="btn btn-default" />
    </p>
    </div>
</form>
}
else 
{
    <form asp-action="ChangeGrade2" asp-controller="Teacher">
        <div>
   <p>
       <select name="mark">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    </p>
    <input type="hidden" value="@ViewBag.ID_STUDENT" name="id_student" />
    <input type="hidden" value="@ViewBag.ID_EXAM" name="id_exam" />
    <p>
        <input type="submit" value="Отправить" class="btn btn-default" />
    </p>
    </div>
</form>
}