@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 0;
}
<h1>Выберите нужный предмет и группу</h1>

<table class="table">
    <thead>
        <tr>
        <th>№</th>
        <th>Название предмета</th>
        <th>Группа</th>
        <th>Выбор</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var it in @ViewBag.GP)
   {
       <tr>
           <td>@(i = i + 1)</td>
           <td>@it.NamePredmet</td>
           <td>@it.NameGroup</td>
           <td><a href="~/Teacher/ShowGrade2?id=@it.Id">=></a></td>
       </tr>
   }
   </tbody>
</table>
