@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 0;
}
<h1>Список всех групп</h1>
<table class="table">
    <thead>
        <tr>
        <th>№</th>
        <th>Название группы</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in ViewBag.Groups)
   {
       <tr>
           <td>@(i = i + 1)</td>
           <td><a href="~/Teacher/ShowStudent?id=@item.IdGroup">@item.GroupName</a></td>
       </tr>
   }
   </tbody>
</table>